body {
    color: #000000;
    background-color: #d1eadd ;
}

.sidebar {
    background-color: #00854a; 
    color: white;
    height: 100vh; 
    position: fixed;
    width: 200px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; 
}

.top-bar {
    background-color: white;
    height: 60px;
    padding: 10px 20px;
    margin-left: 200px; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content {
    background-color: white;
    border-radius: 8px;
    margin-left: 240px; 
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    max-width: calc(100% - 240px - 40px);
}

.sidebarLogo {
    max-width: 100%;
    width: 120px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    margin-top: auto; 
}

.profilePicture {
    display: block;
    margin: 30px auto 10px auto;
    border-radius: 50%; 
    width: 80px; 
    height: 80px; 
    object-fit: cover; 
}

.logout-image {
    width: 30px; 
    height: 30px; 
    object-fit: cover; 
    margin-left: 10px;
}

#clock {
    color: #1a1d1c;
    margin-right: 20px; 
}

.sideNavLink-container {
    margin-top: 20px; 
}

.logo-name-container {
    display: flex; 
    align-items: center;
    justify-content: flex-start; 
    margin-left: 240px; 
    margin-top: 20px; 
    padding: 10px 20px; 
}

.visionhub-font {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: bold; 
    color: #00854a; 
    margin: 0; 
    margin-right: 20px; 
}

.welcome-text {
    font-family: 'Roboto', sans-serif; 
    font-size: 1.5rem; 
    color: #333; 
    margin: 0;
}

.btn-view-details {
    color: #333;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 800px; 
    margin: 0 auto; 
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; 
}

/* Admin Styling*/

.admin-quick-links {
    display: grid;
    grid-template-columns: repeat(3, 250px); 
    grid-gap: 20px; 
    margin-top: 20px;
    justify-content: center; 
    align-items: center;
}

.quick-link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 150px;
    border-radius: 8px;
    color: white; 
    text-decoration: none;
    font-weight: bold; 
    background-color: #4cbfa4;
}

.progress-bar {
    height: 10px;
    border-radius: 5px;
}

/* Login Page Styling*/
body.login-page {
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    text-align: center;
}

.login-details-top {
    background-color: #ffffff;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
}

.loginLogoHeader {
    max-width: 100%; 
    width: auto;
    height: 110px; 
    margin: auto; 
    border-radius: 40%;
    padding: 15px;
}

.loginTextHeader {
    text-align: center; 
    margin-bottom: 20px; 
    font-weight:lighter; /* Make the text bold */
}

.login-enter-details {
    background-color: #f1f0f0;
    padding: 5px;
    width: 400px;
    z-index: 1;
}

.login-details-bottom {
    background-color: #ffffff;
    z-index: 1;

}

.wave {
    background-image: url('../images/loginBackground.svg');
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100%;
    width: 100%; 
    position: absolute; 
    z-index: 0; 
}

.loginGoogle {
    padding: 50px;
}