/* ------------------------------------- Base Styling ------------------------------------- */

body {
    color: #000000;
    background-color: #d1eadd ;
}

.logo-name-container {
    display: flex;   
    align-items: baseline;      
    margin-left: 240px;          
    margin-top: 20px;
    margin-bottom: 5px;
    gap: 2rem; 
    color: #333; 
}

.logo-vision {
  font-family: 'Playfair Display', serif;
  font-weight: 450;
  font-style: italic;
  font-size: 2.5rem;
}

.logo-hub {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 2.5rem;
  margin-left: 0;
}

.welcome-text {
    font-family: 'Roboto', sans-serif; 
    font-size: 1.2rem; 
    margin: 0;
}

/* ----------------------------------- Side Bar Styling ----------------------------------- */

.sidebar {
    background-color: #00854a; 
    color: white;
    font-size: 1rem;
    font-weight: 400;
    height: 100vh; 
    position: fixed;
    width: 200px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left 
}

.profile-photo-text {
    font-size: 1rem;
    font-weight: 200;
    color: rgb(211, 225, 211);
    text-align: center;
}

.sidebarLogo {
    max-width: 100%;
    width: 120px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    margin-top: auto; 
}

.profilePicture {
    display: block;
    margin: 30px auto 10px auto;
    border-radius: 50%; 
    width: 80px; 
    height: 80px; 
    object-fit: cover; 
}

.sideNavLink-container {
    margin-top: 20px;
}

.nav-link {
    border-radius: 0.5rem;  
    color: white;
}

.nav-link:hover{
  background-color: rgba(255,255,255,0.3);
  color: #09624c;   
}

/* ------------------------------------ Top Bar Styling ------------------------------------ */

.top-bar {
    background-color: white;
    height: 60px;
    padding: 10px 20px;
    margin-left: 200px; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logout-image {
    width: 30px; 
    height: 30px; 
    object-fit: cover; 
    margin-left: 10px;
}

#clock {
    color: #1a1d1c;
    margin-right: 20px; 
}

/* ------------------------------------- Button Styling ------------------------------------- */

.royal-blue-button {
    background-color: #5271FF;
    color: white;
    padding: 5px 10px;
    border-radius: 10%;
    text-decoration: none;
    margin: auto;
    font-size: 1rem;
    line-height: 1.2;
    border: none;
    box-shadow: none;
}

.warning-button {
    background-color: #a91b2b;
    color: white;
    padding: 5px 10px;
    border-radius: 10%;
    text-decoration: none;
    margin-left: 30px;
    border: none;
    box-shadow: none;
    font-size: 1rem;
    line-height: 1.2;
}

.dark-blue-button {
    background-color: #004AAD;
    color: white;
    padding: 5px 15px;
    border-radius: 8%;
    text-decoration: none;
    margin: auto;
    font-size: 1rem;
    line-height: 1.2;
    border: none;
    box-shadow: none;
}

.button-container-outside-table {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px; 
    margin-left: 240px;
}

.button-container-form {
    display: inline-block;
    margin-bottom: 10px; 
    margin-top: 0px;
}

.btn-view-details {
    color: #333;
}

/* ----------------------------------- Content Area Styling ----------------------------------- */

.content {
    background-color: white;
    border-radius: 8px;
    margin-left: 240px; 
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    max-width: calc(100% - 240px - 40px);
}

.page-title {
    font-family: 'Montserrat', sans-serif;  
    font-size: 1.5rem;                       
    font-weight: 200;                       
    color: #242827;                      
}

/* --------------------------------------- Form Styling --------------------------------------- */

.form-container {
    padding: 20px;

}

/* ------------------------------------- Training Styling ------------------------------------- */

.option-fields {
    padding: 15px;
}

.correct-answer {
    color: green;
    font-weight: bold;
    display: inline-block;
}

.option-num {
    font-style: italic;
}

.question-text {
    font-style: italic;;
}

.details-heading {
    font-style: italic;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.details-questions-list {
    padding: 1rem;
}

.details-options-list {
    font-size: 0.95rem;
    margin-bottom: 2rem;
}

.card-custom-style {
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

/* ------------------------------------- Admin Styling ------------------------------------- */

.admin-quick-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin-top: 1.25rem;
    justify-items: center;
}

.quick-link-btn {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    color: white; 
    text-decoration: none;
    font-weight: bold; 
    background-color: #4cbfa4;
}

.progress-bar {
    height: 10px;
    border-radius: 5px;
}

/* ------------------------------------- Table Styling ------------------------------------- */

/* Makes the table container scrollable */
.table-wrapper {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1.5rem;
}

.user-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.todo-table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* sticky header row */
.user-table thead th {
  position: sticky;
  top: 0;
  border-bottom: 2px solid #ddd;
  background: white;
  z-index: 2;
}

/* cell padding & alignment */
.user-table th,
.user-table td {
  padding: 0.75rem 1rem;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #eee;
}

/* Reduce last column so buttons don’t stretch */
.user-table th:last-child,
.user-table td:last-child {
  white-space: nowrap;
  width: 1%;
}


/* ----------------------------------- Login Page Styling ------------------------------------- */

body.login-page {
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    text-align: center;
}

.login-details-top {
    background-color: #ffffff;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
}

.loginLogoHeader {
    max-width: 100%; 
    width: auto;
    height: 110px; 
    margin: auto; 
    border-radius: 40%;
    padding: 15px;
}

.loginTextHeader {
    text-align: center; 
    margin-bottom: 20px; 
    font-weight:lighter;
}

.login-enter-details {
    background-color: #f1f0f0;
    padding: 5px;
    width: 400px;
    z-index: 1;
}

.login-details-bottom {
    background-color: #ffffff;
    z-index: 1;
}

.wave {
    background-image: url('../images/loginBackground.svg');
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100%;
    width: 100%; 
    position: absolute; 
    z-index: 0; 
}

.loginGoogle {
    padding: 50px;
}

