body {
    color: #000000;
    background-color: #d1eadd ;
}

.sidebar {
    background-color: #00854a; 
    color: white;
    height: 100vh; 
    position: fixed;
    width: 200px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; 
}

.top-bar {
    background-color: white;
    height: 60px;
    padding: 10px 20px;
    margin-left: 200px; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content {
    background-color: white;
    border-radius: 8px;
    margin: 20px auto;
    margin-left: 220px; 
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    max-width: 900px;
}

.sidebarLogo {
    max-width: 100%;
    width: 120px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    margin-top: auto; 
}

.profilePicture {
    display: block;
    margin: 30px auto 10px auto;
    border-radius: 50%; 
    width: 80px; 
    height: 80px; 
    object-fit: cover; 
}

.logout-image {
    width: 30px; 
    height: 30px; 
    object-fit: cover; 
    margin-left: 10px;
}

#clock {
    color: #1a1d1c;
    margin-right: 20px; 
}

.progress-bar {
    height: 10px;
    border-radius: 5px;
}