{% extends "base.html" %}

{% block content %}
    <h1 class = "page-title">Register New User</h1>
    <div class="form-container">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        
        <!-- First Name Field -->
        <p>
            {{ form.firstName.label }}<br>
            {{ form.firstName(size=32) }}<br>
            {% for error in form.firstName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <!-- Surname Field -->
        <p>
            {{ form.surname.label }}<br>
            {{ form.surname(size=32) }}<br>
            {% for error in form.surname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <!-- Username Field -->
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <!-- Password Field -->
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <!-- Confirm Password Field -->
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <!-- Role Dropdown Field -->
        <p>
            {{ form.role.label }}<br>
            {{ form.role() }}<br>
            {% for error in form.role.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

         <!-- Department Dropdown Field -->
         <p>
            {{ form.department.label }}<br>
            {{ form.department() }}<br>
            {% for error in form.department.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <!-- Job Title Field -->
        <p>
            {{ form.job_title.label }}<br>
            {{ form.job_title(size=32) }}<br>
            {% for error in form.job_title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <!-- Manager -->
        <p>
            {{ form.manager.label }}<br>
            {{ form.manager() }}<br>
            {% for error in form.job_title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <!-- Is Onboarding -->
        <p>
            {{ form.is_onboarding.label }}<br>
            {{ form.is_onboarding() }}<br>
            {% for error in form.is_onboarding.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
         <!-- Buttons -->
        <div class="button-container-form">
            {{ form.submit(class_="dark-blue-button") }}
            <a href="{{ url_for('manage_users') }}" class="dark-blue-button">Back</a>
        </div>
    </div>
    </form>
{% endblock %}