{% extends "base.html" %}

{% block content %}

<!-- Links to feature -->
 <h1>Admin Dashboard</h1>
 <h2>Quick Links</h2>
<p>
    <a href="{{ url_for('manage_users') }}" class="admin-dash-btn">User Management</a>
    <a href="{{ url_for('manage_users') }}" class="admin-dash-btn">Content Management</a>
    <a href="{{ url_for('manage_users') }}" class="admin-dash-btn">Add New Policy</a>
    <a href="{{ url_for('manage_users') }}" class="admin-dash-btn">Add New Training Module</a>
    <a href="{{ url_for('manage_users') }}" class="admin-dash-btn">Add Form</a>
    <a href="{{ url_for('register_user') }}" class="admin-dash-btn">Add New User</a>
    <a href="{{ url_for('manage_users') }}" class="admin-dash-btn">View Onboarding Paths</a>
    <a href="{{ url_for('manage_users') }}" class="admin-dash-btn">Add New Guide</a>
</p>

{% endblock %}