{% extends "base.html" %}

{% block content %}
<div class="container">
    <!-- Heading -->
    <div class="admin-header">
        <h3 class="mb-3">Admin Quick Links</h3>
        <hr class="border border-secondary">
    </div>
    <!-- Links to Features -->
    <div class="admin-quick-links">
        <a href="{{ url_for('register_user') }}" class="quick-link-btn">Add New User</a>
        <a href="{{ url_for('manage_users') }}" class="quick-link-btn">User Management</a>
        <a href="{{ url_for('create_training_module') }}" class="quick-link-btn">Add New Training Module</a>
        <a href="{{ url_for('manage_training_modules') }}" class="quick-link-btn">View Training Modules</a>
        <a href="#" class="quick-link-btn">View Onboarding Pathways</a>
        <a href="{{ url_for('manage_users') }}" class="quick-link-btn">Content Management</a>
    </div>
</div>
{% endblock %}

{% block specific_heading %}
  <h3 class="welcome-text">Welcome, {{ current_user.first_name|title }}</h3>
{% endblock %}