{% extends "base.html" %}

{% block content %}
<h2>Training Modules</h2>

{% if modules %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for module in modules %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ module.module_title }}</td>
            </td>
            <td>
                <a href="{{ url_for('details_training_module', module_id=module.id) }}" class="btn btn-sm btn-info">
                    View Details</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No training modules found.</p>
{% endif %}

<a href="{{ url_for('create_training_module') }}" class="btn btn-primary">Create New Module</a>
<a href="{{ url_for('admin_dashboard') }}" class="btn btn-primary">Back</a>
{% endblock %}
