<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vision Hub</title> 
            <meta charset="UTF-8">
            <title>Vision Hub</title>
            <link 
            href="{{ url_for('static', filename='css/bootstrap.min.css') }}" 
            rel="stylesheet"/>
    
        </head>
    <body>
        
        <!-- Sidebar -->
         <div class="sidebar">
            <img src="https://via.placeholder.com/80" alt="Profile">
            <h5>{{ current_user.first_name }}</h5>
            <!-- <nav class="nav flex-column">
                <a class="nav-link text-white" href="#">Onboarding</a>
                <a class="nav-link text-white" href="#">Training</a>
                <a class="nav-link text-white" href="#">Knowledge Base</a>
            </nav> --> 
        </div>
        
        <div>Vision Hub:
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}

       

    </body>
</html>
