<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vision Hub</title> 
            <meta charset="UTF-8">
            <title>Vision Hub</title>
            <link 
            href="{{ url_for('static', filename='css/bootstrap.min.css') }}" 
            rel="stylesheet"/>
            <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet"/>
        </head>
    <body>
        <!-- Sidebar -->
         <div class="sidebar">
            <div class="profile-container">
                <form id="photoForm"
                    action="{{ url_for('update_profile_photo') }}"
                    method="POST"
                    enctype="multipart/form-data"
                    style="display:inline;">
                <!-- remember current URL -->
                <input type="hidden" name="next" value="{{ request.path }}">

                <input type="file"
                        id="fileInput"
                        name="photo"
                        accept=".png,.jpg,.jpeg"
                        style="display:none;">

                <!-- clickable avatar -->
                <img src="{{ url_for('static',
                                    filename='images/profilePhoto/' 
                                        ~ (current_user.profile_photo or 'profileDefault.png')) }}"
                    id="profilePicture"
                    class="profilePicture"
                    alt="Click to change photo"
                    style="cursor:pointer; width:100px; height:100px;
                            object-fit:cover; border-radius:50%;">
                </form>
                <h5 class="profile-photo-text">{{ current_user.first_name|title }} {{ current_user.surname|title }}</h5>
            </div>
            <nav class="nav flex-column sideNavLink-container">
                {% if current_user.role.role_name == 'admin' %}
                    <a class="nav-link" href="#">Onboarding</a>
                    <a class="nav-link" href="{{ url_for('manage_training_modules') }}">Training</a>
                    <a class="nav-link" href="#">Knowledge Base</a>
                    <a class="nav-link" href="{{ url_for('manage_users') }}">User Managment</a>
                    <a class="nav-link" href="#">Onboarding</a>
                    <a class="nav-link" href="#">Reports</a>
                    <a class="nav-link" href="#">Content Management</a>
                    {% elif current_user.role.role_name == 'manager' %}
                    <a class="nav-link" href="#">Onboarding</a>
                    <a class="nav-link" href="#">Training</a>
                    <a class="nav-link" href="#">Reports</a>
                    {% elif current_user.role.role_name == 'staff' %}
                    <a class="nav-link" href="#">Onboarding</a>
                    <a class="nav-link" href="{{ url_for('training_dashboard') }}">Training</a>
                {% endif %}
            </nav>
            <img src="{{ url_for('static', filename='images/logoImageWhite.svg') }}" class="sidebarLogo">
        </div>

         <!-- Top Bar -->
         <div class="top-bar">
            <div class="d-flex align-items-center">
                <span class="me-3" id="clock"></span>
                <a href="{{ url_for('logout') }}" class="logout-link">
                    <img src="{{ url_for('static', filename='images/logout.png') }}" class="logout-image">
                </a>
            </div>
        </div>

        <!-- Logo & name -->
        <div class="logo-name-container">
            <h2 class="logo-text">
                <span class="logo-vision">Vision</span>
                <span class="logo-hub">Hub</span>
            </h2>
            <h3 class="welcome-text">Welcome, {{ current_user.first_name|title }}</h3>
        </div>

        <!-- Content Area -->
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="{{ url_for('static', filename='js/profilePhotoUpload.js') }}"></script>
    </body>
</html>
