<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vision Hub</title> 
            <meta charset="UTF-8">
            <title>Vision Hub</title>
            <link 
            href="{{ url_for('static', filename='css/bootstrap.min.css') }}" 
            rel="stylesheet"/>
            <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet"/>
        </head>
    <body>
        <!-- Sidebar -->
         <div class="sidebar">
            <div class="profile-container">
                <img src="{{ url_for('static', filename='images/profilePhoto/profileDefault.png') }}" class="profilePicture">
                <h5>{{ current_user.first_name }} {{ current_user.surname }}</h5>
            </div>
            <nav class="nav flex-column">
                <a class="nav-link text-white" href="#">Onboarding</a>
            </nav>
            <img src="{{ url_for('static', filename='images/loginLogo(2).svg') }}" class="sidebarLogo">
        </div>

         <!-- Top Bar -->
         <div class="top-bar">
            <div class="d-flex align-items-center">
                <span class="me-3" id="clock"></span>
                <a href="{{ url_for('logout') }}" class="logout-link">
                    <img src="{{ url_for('static', filename='images/logout.png') }}" class="logout-image">
                </a>
            </div>
        </div>

        <!-- Content Area -->
        <div class="content">
        </div>

        {% block content %}
        {% endblock %}
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
