{% extends "base.html" %}

{% block content %}
<div class="page-container">
    <div class="card mb-4">
        <div class="card-header bg-light">
            <h2 class="mb-0">Not Started</h2>
        </div>
            <div class="card-body"> 
            {% if to_be_completed_modules %}
            <table class="table">
                <thead>
                <tr>
                    <th>Module</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for module in to_be_completed_modules %}
                    <tr>
                        <td>{{ module.module_title }}</td>
                        <td>
                            <a href="{{ url_for('take_training_module', module_id=module.id) }}" class="royal-blue-button" type="submit" name="action" value="start">
                                Start
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="m-3">
                <p>You have no training modules to start</p>            
            </div>
            {% endif %}
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header bg-light">
            <h2 class="mb-0">In Progress</h2>
        </div>
        <div class="card-body">
        {% if in_progress_modules %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Module</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for module in in_progress_modules %}
                    <tr>
                        <td>{{ module.module_title }}</td>
                        <td>
                             <a href="{{ url_for('take_training_module', module_id=module.id) }}" type="submit" name="action" value="Resume" class="royal-blue-button">
                                Resume Module
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="m-3">
                <p>You have no in progress training modules</p>
             </div>
            {% endif %}
        </div>
    </div>
    
    <div class="card mb-4">
    <div class="card-header bg-light">
        <h2 class="mb-0">Completed</h2>
    </div>
    <div class="card-body">
        {% if completed_modules %}
        <table class="table">
            <thead>
            <tr>
                <th>Module</th>
                <th>Score</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in completed_modules %}
                <tr>
                    <td>{{ entry.module.module_title }}</td>
                    <td>{{ entry.score }} / {{ entry.module.questions|length }}</td>
                    <td>
                        <span class="badge bg-success">Passed</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="m-3">
            <p>You have no completed training modules</p>
        </div>
        {% endif %}
    </div>
    </div>
</div>   
{% endblock %}

{% block specific_buttons %}
    <div class = "button-container-outside-table">
        <a href="{{ url_for('staff_dashboard') }}" class="dark-blue-button">Back</a>
    </div>
{% endblock %}

{% block specific_heading %}
  <h1 class="page-title">Training Dashboard</h1>
{% endblock %}
