{% extends "base.html" %}
{% block content %}

<div class="page-container">
    <table class="todo-table"></table>
        <thead>
            <tr>
                <th>Tasks to Complete</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

                <tr>
                    <td></td>
                </tr>
        </tbody>
    </table>
</div>
    

{% endblock %}

{% block specific_heading %}
    <h3 class="welcome-text">Welcome, {{ current_user.first_name|title }}</h3>
{% endblock %}


