<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vision Hub</title> 
            <meta charset="UTF-8">
            <title>Vision Hub</title>
            <link 
            href="{{ url_for('static', filename='css/bootstrap.min.css') }}" 
            rel="stylesheet"/>
            <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet"/>
    </head>
    <body class="login-page">
        <!-- Wave SVG -->
        <div class="wave"></div>
        <div class="login-details-top">
            <h1>Log into Vision Hub</h1>
            <div class="login-enter-details">
                <br>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username(size=30, placeholder="Username") }}
                        <br>
                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password(size=30, placeholder="Password") }}<br>
                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.remember_me() }} {{ form.remember_me.label }}
                    </p>
                    <p>
                        {{ form.submit(class="btn btn-primary") }}
                    </p>
                </form>
            </div>
            <div class="login-enter-bottom">
                <p>Login with google</p>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>

