{% extends "base.html" %}

{% block content %}
<div class="page-container">
    <div class="card mb-4">
        <div class="card-header bg-light">
            <h2 class="mb-0">{{ module.module_title }}</h2>
        </div>
        <div class="card-body card-custom-style">
            <!-- Description -->
            <div class="mb-4">
                <h5 class="details-heading">Description</h5>
                <p>{{ module.module_description }}</p>
            </div>

            <!-- Instructions -->
            <div class="mb-4">
                <h5 class="details-heading">Instructions</h5>
                <p>{{ module.module_instructions }}</p>
            </div>
     
            <!-- Video -->
            <div class ="mb-4">
                {% if module.video_url %}
                <h5 class ="details-heading">Video</h5>
                <div class="ratio ratio-16x9">
                    <iframe
                    src="{{ module.video_url | replace('watch?v=', 'embed/') }}"
                    allowfullscreen
                    ></iframe>
                </div>
                <a href="{{ module.video_url }}" target="_blank" class="d-block mt-2">
                    Watch in new tab
                </a>
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Questions -->
    <div class="card mb-4">
        <div class="card-header bg-light">
            <h3 class="mb-0">Questions</h3>
        </div>
        <div class="card-body card-custom-style">
            <form method="POST" action="">
            {% for question in module.questions %}
                <div class="card-body card-custom-style">
                    <h4>{{ question.question_text }}</h4>
                    {% for option in question.options %}
                    <div class="form-check details-questions-list">
                        <input class="form-check-input" type="radio" 
                            name="question_{{question.id}}" 
                            value="{{ option.id }}" 
                            id="option_{{option.id}}"
                            {% if user_answers.get(question.id) == option.id %} checked {% endif %}>
                            {{ option.option_text }}
                        </label>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <button type="submit" name="action" value="submit" class="btn btn-success">Submit</button>
    <button type="submit" name="action" value="save" class="btn btn-primary">Save</button>
</form>
</div>
{% endblock %}

{% block specific_buttons %}
    <div class = "button-container-outside-table">
        <a href="{{ url_for('training_dashboard') }}" class="dark-blue-button">Back</a>
    </div>
{% endblock %}

{% block specific_heading %}
  <h1 class="page-title">Staff Training</h1>
{% endblock %}